<!doctype html>
<html>
    <head>
        <title>Let's Go RTW! | Find your way around the world!</title>

        <link rel="stylesheet" href="/css/global.css">

        <%- include("scripts/ga") %>
    </head>
    <body>
        <header>
            <%- include("components/header") %>
        </header>
        <main>
            <%- include("components/itinerary-info", itinerary) %>
            <%- include("components/itinerary-map", itinerary) %>
        </main>
        <footer>
            <%- include("components/footer") %>
        </footer>
    </body>
</html>
